.PageManager{
    width: 90%;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    position: relative;
    height: 920px;
}

.buttons{
    float: left;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 20px;
}

.button2{
    font-size: 50px;
    width: 200px;
    height: 90px;
}

.pn{
    position: absolute;
    bottom: 0;
    margin-top: 4%;
}
.stroop{
    margin-top: 2%;
    margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 10px;
}

.welcome{
    text-align: center;
    width: 80%;
    margin-top: 2%;
}

.welcome2{
    margin-top: 2%;
}

.mainDiv{
    width: auto;
}

.Intro{
    text-align: left;
    margin-top: 2%;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.welcomeDilemma{
    text-align: left;
    width: 80%;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.StroopTask{
    text-align: center;
    width :800px; /* or whatever width you want. */
    max-width: 800px; /* or whatever width you want. */
    display: inline-block;
}


.Col1{
    width: 80%;

}

.Col2{
    width: 20%;

}

.Pmain{
    margin-top: 5%;
}

.p1{
    font-size: 20px;
    margin-top: 50px;
}

.p2{
    font-size: 18px;
    margin-top: 5%;
}

.p3{
    font-size: 16px;
    text-align: left;
    margin-top: 100px;
}

.p5{
    font-size: 16px;
    text-align: left;
}

.n1{
    margin-top: 5%;
    font-size: 18px;
}

.e1{
    margin-top: 100px;
    font-size: 16px;
}

.button12{
    width: 120px;
    height: 80px;
    font-size: 5rem;
}

.IntroStroop{
    margin-top: 2%;
    font-size: 18px;
    text-align: left;
}

.endmessage{
    font-size: 18px;
}

.className{
    text-align: center;
}

.h1{
    margin-left: auto;
    margin-right: auto;
}